<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger - Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>Welcome to DevBurger</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
    <main>
        <section id="menu">
            <h2><strong>Nosso cardapio</strong></h2>
            <ul>
                <iframe src="/api/lanches"></iframe>
                <!-- Os lances vão aparecer dinamicamente-->
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 DevBurger. All rights reserved.</p>
    </footer>
</body>
</html>