<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger - Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="topo-fixo">
    <header>
        <h1>Welcome to DevBurger</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
    <main>
        <section id="menu">
            <h2><strong>Nosso cardapio</strong></h2>
            <ul>
                <iframe src="/api/lanches"></iframe>
                <!-- Os lances vão aparecer dinamicamente-->
            </ul>
        </section>
        <article id="sugestaoBox">
            <h2>Deixe sua sugestão</h2>
            <p>Queremos ouvir você! Deixe sua sugestão abaixo:</p>
            <form id="formSugestao" action="/sugestao" method="GET">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Nome do lanche" required>

                <label for="ingredientes">Ingredientes:</label>
                <input type="text" id="ingredientes" name="ingredientes" placeholder="Ingredientes separados por vírgula" required>

                <button type="submit" id="btnEnviarSugestao">Enviar</button>
            </form>
        <p id="msgSugestao"></p>
        </article>
   </main>
    <footer>
        <p>&copy; 2023 DevBurger. All rights reserved.</p>
    </footer>
</body>
</html>