@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

body{
    font-family: 'Libertinus Mono', monospace;
    background-color: #000000;
    color: #fcfcfc;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #eb0800;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    font-size: 20px;
    margin: 20px 0; 
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav a {
    color: #eb0800;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #eb0800;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}